In [1]:
import pandas as pd

In [5]:
df = pd.read_csv("C:/Users/jeane/Documents/Travail/UTSEUS/Urban Data Hackathon/pickles/meters/utseus-shanghai-taxi-speed-position-meters.csv")
df.to_pickle("C:/Users/jeane/Documents/Travail/UTSEUS/Urban Data Hackathon/pickles/meters/taxi_meters.pk")

In [6]:
df.head()

,Unnamed: 0,taxi_id,time,status,lon,lat,speed,geometry,transformed_longitude,transformed_latitude
0,0,24029,2015-04-11,0,121.421822,31.212080,19.6,POINT (121.4265311273298 31.2102277773033),-2.846406e+06,4.659170e+06
1,1,24029,2015-04-11,0,121.423275,31.212148,15.8,POINT (121.4279823397575 31.21029449657971),-2.846522e+06,4.659094e+06
2,2,24029,2015-04-11,0,121.424295,31.212597,11.5,POINT (121.4290010222642 31.21074273305947),-2.846591e+06,4.659022e+06
3,3,24029,2015-04-11,0,121.426872,31.215222,6.5,POINT (121.4315744665943 31.21336630745432),-2.846722e+06,4.658765e+06
4,4,24029,2015-04-11,0,121.427138,31.215365,6.7,POINT (121.4318400592804 31.21350908242947),-2.846740e+06,4.658745e+06

In [2]:
df = pd.read_pickle('C:/Users/jeane/Documents/Travail/UTSEUS/Urban Data Hackathon/pickles/meters/communities-criterias_2-meters.pk')
df.to_csv('C:/Users/jeane/Documents/Travail/UTSEUS/Urban Data Hackathon/pickles/meters/communities-criterias_2-meters.csv')

In [3]:
df.head()

,Unnamed: 0,_id,exploreid,name_en,name_zh_Hans,lines,lat,lng,x,y,code,phonetic,multiline,transformed_longitude,transformed_latitude
0,0,449,"2,79",Xinzhuang,莘庄,15,31.113035,121.380655,10240708,-42935534,NaN,Xīnzhuāng,0,-2.846016e+06,4.666065e+06
1,1,450,3,Waihuanlu,外环路,1,31.122854,121.388599,15814733,-37358774,NaN,Wàihuánlù,0,-2.846370e+06,4.665190e+06
2,2,451,4,Lianhua Road,莲花路,1,31.133039,121.398481,21208778,-31956624,NaN,Liánhuā Lù,0,-2.846871e+06,4.664201e+06
3,3,452,5,Jinjiang Park,锦江乐园,1,31.143994,121.409714,26638853,-26527039,NaN,Jǐnjiāng Lèyuán,0,-2.847458e+06,4.663107e+06
4,4,453,"6,39",Shanghai South Railway Station,上海南站,13,31.155858,121.425249,32104868,-20912684,NaN,Shànghǎi Nánzhàn,0,-2.848367e+06,4.661754e+06